{% extends 'shared/_layout.html' %}

{% block title %}
  تماس باما
{% endblock %}

{% block content %}
  <div id="contact-page" class="container">
    <div class="bg">
      <div class="row">
        <div class="col-sm-8">
          <div class="contact-form">
            <h2 class="title text-center">با ما در ارتباط باشیـد</h2>
            <div class="status alert alert-success" style="display: none"></div>
            <form id="main-contact-form" class="contact-form row" action="{% url 'contact_us_page' %}" method="post">
              {% csrf_token %}

              <div class="form-group col-md-6 {% if contact_form.fullname.errors %}text-danger{% endif %}">
                {{ contact_form.email.label_tag }}
                {{ contact_form.email }}
                {{ contact_form.email.errors }}
              </div>

              <div class="form-group col-md-6 {% if contact_form.fullname.errors %}text-danger{% endif %} ">
                {{ contact_form.fullname.label_tag }}
                {{ contact_form.fullname }}
                {{ contact_form.fullname.errors }}
              </div>

              <div class="form-group col-md-12 {% if contact_form.fullname.errors %}text-danger{% endif %}">
                {{ contact_form.subject.label_tag }}
                {{ contact_form.subject }}
                {{ contact_form.subject.errors }}
              </div>

              <div class="form-group col-md-12">
                {{ contact_form.text.label_tag }}
                {{ contact_form.text }}
                {{ contact_form.text.errors }}
              </div>

              {% comment %}{{ contact_form }}{% endcomment %}

{#              <div class="form-group col-md-6">#}
{#                <input type="text" name="fullname" class="form-control"#}
{#                       placeholder="نام و نام خانوادگی">#}
{#              </div>#}
{#              <div class="form-group col-md-6">#}
{#                <input type="email" name="email" class="form-control" placeholder="ایمیـل">#}
{#              </div>#}
{#              <div class="form-group col-md-12">#}
{#                <input type="text" name="subject" class="form-control" placeholder="موضـوع">#}
{#              </div>#}
{#              <div class="form-group col-md-12">#}
{#                <textarea name="message" id="message" class="form-control" rows="8"#}
{#                          placeholder="پیغـام شمـا"></textarea>#}
{#              </div>#}
              <div class="form-group col-md-12">
                {#                <input type="submit" name="submit" class="btn btn-primary pull-right" value="ارسـال">#}
                <button type="submit" class="btn btn-primary pull-right">ارسال</button>
              </div>
            </form>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="contact-info">
            <h2 class="title text-center">اطلاعات تماس</h2>
            <address>
              <p>گـروه تکنوگـرافی 1614</p>
              <p>ایـران - آذربایجـان غربـی - خـوی</p>
              <p>مجتـمع تجـاری تفریحـی شمس - طبـقه 2 - پلاک 54</p>
              <p>تلفن تماس : 80 21 24 36 044</p>
              <p>فکس : 80 21 24 36 044</p>
              <p style="font-family: tahoma,serif;">ایمیـل : info@1614GP.ir</p>
            </address>
            <div class="social-networks">
              <h2 class="title text-center">شبکـه های اجتـماعی</h2>
              <span class="socials-share share">
									<ul>
										<a href="#">
											<li>
												<label>بلـه</label>
												<img src="/static/images/product-details/Bale.png" alt="">
											</li>
										</a>
										<a href="#">
											<li>
												<label>سـروش</label>
												<img src="/static/images/product-details/Soroush.png" alt="">
											</li>
										</a>
										<a href="#">
											<li>
												<label>اینستاگرام</label>
												<img src="/static/images/product-details/Instagram.png" alt="">
											</li>
										</a>
									</ul>
								</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}